<head>
  <style>
  	@import url("//hello.myfonts.net/count/3664ec");

    @font-face {font-family: 'DINNextLTPro';src: url('{{ $.Site.BaseURL }}webfonts/3664EC_5_0.eot');src: url('{{ $.Site.BaseURL }}webfonts/3664EC_5_0.eot?#iefix') format('embedded-opentype'),url('{{ $.Site.BaseURL }}webfonts/3664EC_5_0.woff2') format('woff2'),url('{{ $.Site.BaseURL }}webfonts/3664EC_5_0.woff') format('woff'),url('{{ $.Site.BaseURL }}webfonts/3664EC_5_0.ttf') format('truetype'); font-weight: 200;}  
    @font-face {font-family: 'DINNextLTPro';src: url('{{ $.Site.BaseURL }}webfonts/3664EC_B_0.eot');src: url('{{ $.Site.BaseURL }}webfonts/3664EC_B_0.eot?#iefix') format('embedded-opentype'),url('{{ $.Site.BaseURL }}webfonts/3664EC_B_0.woff2') format('woff2'),url('{{ $.Site.BaseURL }}webfonts/3664EC_B_0.woff') format('woff'),url('{{ $.Site.BaseURL }}webfonts/3664EC_B_0.ttf') format('truetype'); font-weight: normal;}  
    @font-face {font-family: 'DINNextLTPro';src: url('{{ $.Site.BaseURL }}webfonts/3664EC_C_0.eot');src: url('{{ $.Site.BaseURL }}webfonts/3664EC_C_0.eot?#iefix') format('embedded-opentype'),url('{{ $.Site.BaseURL }}webfonts/3664EC_C_0.woff2') format('woff2'),url('{{ $.Site.BaseURL }}webfonts/3664EC_C_0.woff') format('woff'),url('{{ $.Site.BaseURL }}webfonts/3664EC_C_0.ttf') format('truetype'); font-weight: 800;}
  </style>
<head>
<body>  
  <table cellpadding="0" cellspacing="0" border="0" width="400">
    <tbody>
      <tr>
        <td style="padding-top: 25px; vertical-align: top; width: 145; padding-left: 0;">
          <img src="{{ $.Site.BaseURL }}img/logo.png" alt="Good Monday">
        </td>
        <td style="padding-top: 25px; vertical-align: top;">
          <span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 16pt; color: #313C52;">{{.Params.name}}</span><br>
          <span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 200; color: #313C52;">{{.Params.title}}</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <table cellpadding="0" cellspacing="0" border="0" style="padding-top: 10px;">
            <tbody>
              <tr>
                <td width="35"><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 800; color: #313C52;">T. </span></td>
                <td><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 200; color: #313C52;">{{.Params.T}}</span></td>
              </tr>
              <tr>
                <td><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 800; color: #313C52;">M.  </span></td>
                <td><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 200; color: #313C52;">{{.Params.M}}</span></td>
              </tr>
              <tr>
                <td><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 800; color: #313C52;">W.  </span></td>
                <td><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 200; color: #313C52;">goodmonday.io</span></td>
              </tr>
              <tr>
                <td><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 800; color: #313C52;">S.  </span></td>
                <td><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 200; color: #313C52;">{{.Params.S}}</span></td>
              </tr>
              <tr>
                <td style="height: 19"> </td>
              </tr>
              <tr>
                <td><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 800; color: #313C52;">A.  </span></td>
                <td><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 200; color: #313C52;">{{.Params.A}}</span></td>
              </tr>
              <tr>
                <td></td>
                <td><span style="font-family: 'DINNextLTPro', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif !important; font-size: 11pt; font-weight: 200; color: #313C52;">{{.Params.A2}}</span></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>