<head>
  <style>
  	@import url("//hello.myfonts.net/count/3664ec");

    @font-face {font-family: 'DINNextLTPro-Light';src: url('{{ $.Site.BaseURL }}webfonts/3664EC_5_0.woff') format('woff');}  
    @font-face {font-family: 'DINNextLTPro-Regular';src: url('{{ $.Site.BaseURL }}webfonts/3664EC_B_0.woff') format('woff');}  
    @font-face {font-family: 'DINNextLTPro-Medium';src: url('{{ $.Site.BaseURL }}webfonts/3664EC_C_0.woff') format('woff');}
  </style>
<head>
<body>  
  <table cellpadding="0" cellspacing="0" border="0" style="width: 400px;">
    <tbody>
      <tr>
        <td style="padding-top: 25px; vertical-align: top; width: 145; padding-left: 0;">
          <img src="{{ $.Site.BaseURL }}img/logo.png" alt="Good Monday">
        </td>
        <td style="padding-top: 25px; vertical-align: top;">
          <font style="font-family: 'DINNextLTPro-Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 16pt; color: #313C52;">{{.Params.name}}</font><br>
          <font style="font-family: 'DINNextLTPro-Light', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">{{.Params.title}}</font>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <table cellpadding="0" cellspacing="0" border="0" style="padding-top: 10px;">
            <tbody>
              <tr>
                <td style="font-family: 'DINNextLTPro-Medium', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;width: 35;">T. </td>
                <td style="font-family: 'DINNextLTPro-Light', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">{{.Params.T}}</td>
              </tr>
              <tr>
                <td style="font-family: 'DINNextLTPro-Medium', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">M.  </td>
                <td style="font-family: 'DINNextLTPro-Light', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">{{.Params.M}}</td>
              </tr>
              <tr>
                <td style="font-family: 'DINNextLTPro-Medium', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">W.  </td>
                <td style="font-family: 'DINNextLTPro-Light', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">goodmonday.io</td>
              </tr>
              <tr>
                <td style="font-family: 'DINNextLTPro-Medium', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">S.  </td>
                <td style="font-family: 'DINNextLTPro-Light', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">{{.Params.S}}</td>
              </tr>
              <tr>
                <td style="height: 19"> </td>
              </tr>
              <tr>
                <td style="font-family: 'DINNextLTPro-Medium', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">A.  </td>
                <td style="font-family: 'DINNextLTPro-Light', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">{{.Params.A}}</td>
              </tr>
              <tr>
                <td></td>
                <td style="font-family: 'DINNextLTPro-Light', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif; font-size: 11pt; color: #313C52;">{{.Params.A2}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>