@import url("//hello.myfonts.net/count/3664ec");

@font-face {font-family: 'DINNextLTPro-Light';src: url('{{ $.Site.BaseURL }}/webfonts/3664EC_5_0.eot');src: url('{{ $.Site.BaseURL }}/webfonts/3664EC_5_0.eot?#iefix') format('embedded-opentype'),url('{{ $.Site.BaseURL }}/webfonts/3664EC_5_0.woff2') format('woff2'),url('{{ $.Site.BaseURL }}/webfonts/3664EC_5_0.woff') format('woff'),url('{{ $.Site.BaseURL }}/webfonts/3664EC_5_0.ttf') format('truetype');}  
@font-face {font-family: 'DINNextLTPro-Regular';src: url('{{ $.Site.BaseURL }}/webfonts/3664EC_B_0.eot');src: url('{{ $.Site.BaseURL }}/webfonts/3664EC_B_0.eot?#iefix') format('embedded-opentype'),url('{{ $.Site.BaseURL }}/webfonts/3664EC_B_0.woff2') format('woff2'),url('{{ $.Site.BaseURL }}/webfonts/3664EC_B_0.woff') format('woff'),url('{{ $.Site.BaseURL }}/webfonts/3664EC_B_0.ttf') format('truetype');}  
@font-face {font-family: 'DINNextLTPro-Medium';src: url('{{ $.Site.BaseURL }}/webfonts/3664EC_C_0.eot');src: url('{{ $.Site.BaseURL }}/webfonts/3664EC_C_0.eot?#iefix') format('embedded-opentype'),url('{{ $.Site.BaseURL }}/webfonts/3664EC_C_0.woff2') format('woff2'),url('{{ $.Site.BaseURL }}/webfonts/3664EC_C_0.woff') format('woff'),url('{{ $.Site.BaseURL }}/webfonts/3664EC_C_0.ttf') format('truetype');}

h1,h2,li {
	font-family: "DINNextLTPro-Regular";
	font-weight: normal; 
	font-style: normal;
}

